body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

header {
  background-color: #3564ad;
  border-bottom: 4px solid #ffcb05;
  box-shadow: 0px 1px 5px 0px #6af;
  color: white;
  margin-bottom: 40px;
  padding: 4px 8px;
}

header a {
  color: white;
}

header a:hover {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.selector {
  margin-bottom: 20px;
}

.poke-display {
  margin-top: 20px;
}

.strong {
  font-weight: bold;
}

strong {
  display: inline-block;
  margin-bottom: 5px;
}
